{% extends 'gallery.html.twig' %} 

{% block heading %}
    <div class="container pp-section">
        <div class="row">
            <div class="col-md-9 col-sm-12 px-0">
                <h1 class="h3">{{error}}</h1>
                <h6>{{detail|raw}}</h6>
            </div>
        </div>
    </div>
{% endblock %}

{% block display %} 
    <div class="pp-section"></div>
{% endblock %}