{% extends 'gallery.html.twig' %}

{% block heading %}
    <div class="container pp-section">
        <div class="row">
            <div class="col-md-9 col-sm-12 px-0">
                <h1 class="h3">Search results</h1>  
                <h6>Below are what we found based on your criteria. Do you want to <a href="{{path('search')}}">make another search</a>?</h6>
            </div>
        </div>
    </div>
{% endblock %}